{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Данный сайт - тестовое задание</h1>

        <br/>

        <p>В рамках работы реализованы разделы:</p>
        <ul>
            <li>Лента постов</li>
            <li>Страница создания поста</li>
            <li>Список пользователей</li>
            <li>Страница регистрации</li>
            <li>Страница входа</li>
        </ul>

        <br/>

        <h2>Лента постов</h2>
        <p>Каждый пользователь видит в ленте только свои посты и тех на кого он подписан.</p>
        <p>Возможность удаления доступна только для своих постов.</p>

        <br/>

        <h2>Страница создания поста</h2>
        <p>Для создания поста необходимо заполнить только его содержимое.</p>

        <br/>

        <h2>Страница пользователей</h2>
        <p>На странице выводится список всех зарегистрированных пользователей с возможностью подписаться или отписаться от каждого из них.</p>

        <br/>

        <h2>Страница регистрации</h2>
        <p>Точка входа для новых пользователей.</p>
        <p>На данный момент единственный способ попасть на сайт и получить возможность размещать записи и смотреть записи других пользователей.</p>

        <br/>

        <h2>Страница входа</h2>
        <p>Имея аккаунт на сайте необходимо залогиниться для получения доступа ко всем функциям.</p>
    </div>
{% endblock %}